node-red-flow.json
[{"id":"c9855b3d.fe1fe8","type":"websocket in","z":"db1fee32.925b1","name":"","server":"","client":"6116340.57e0bcc","x":190,"y":140,"wires":[["35feb43e.fa537c","447f36f7.35f478","622fe88a.fc2f08","8c570857.83e938"]]},{"id":"35feb43e.fa537c","type":"debug","z":"db1fee32.925b1","name":"","active":true,"console":"true","complete":"payload","x":527,"y":172,"wires":[]},{"id":"8c570857.83e938","type":"function","z":"db1fee32.925b1","name":"","func":"if(msg.payload===\"0\"){\n    msg.payload=\"Aproximação em tomada detectada às \"+ new Date();\n    return msg;\n}","outputs":1,"noerr":0,"x":520,"y":290,"wires":[["c3b16304.8c484","cca4ea85.24cc28"]]},{"id":"cca4ea85.24cc28","type":"websocket out","z":"db1fee32.925b1","name":"","server":"","client":"ce9a4873.cceb78","x":860,"y":186,"wires":[]},{"id":"447f36f7.35f478","type":"file","z":"db1fee32.925b1","name":"","filename":"sonic_sensor_history.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":550,"y":80,"wires":[]},{"id":"27ae2aae.66f616","type":"tail","z":"db1fee32.925b1","name":"","filetype":"text","split":false,"filename":"sonic_sensor_history.log","x":156,"y":410,"wires":[["90edabc8.f4d9c8"]]},{"id":"90edabc8.f4d9c8","type":"ui_chart","z":"db1fee32.925b1","name":"","group":"3bf69756.8965f8","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"2","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":450,"y":370,"wires":[[],[]]},{"id":"aff58a18.3fae88","type":"twitter out","z":"db1fee32.925b1","twitter":"","name":"Tweet","x":832,"y":348,"wires":[]},{"id":"a9de45f0.38b778","type":"debug","z":"db1fee32.925b1","name":"","active":true,"console":"false","complete":"false","x":858,"y":240,"wires":[]},{"id":"c3b16304.8c484","type":"delay","z":"db1fee32.925b1","name":"","pauseType":"rate","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":679,"y":317,"wires":[["a9de45f0.38b778","aff58a18.3fae88"]]},{"id":"622fe88a.fc2f08","type":"function","z":"db1fee32.925b1","name":"","func":"if(msg.payload===\"1\"){\n    msg.payload = \"Tomada liberada às \"+ new Date();\n    return msg;\n}","outputs":1,"noerr":0,"x":528,"y":235,"wires":[["cca4ea85.24cc28"]]},{"id":"909bb1eb.b0e28","type":"ui_switch","z":"db1fee32.925b1","name":"","label":"Desativar Tomada","group":"3bf69756.8965f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Tomada Desativar","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Tomada Ativar","offvalueType":"str","officon":"","offcolor":"","x":149,"y":577,"wires":[["605b15dd.f9345c"]]},{"id":"1c6592dd.18f16d","type":"ui_switch","z":"db1fee32.925b1","name":"","label":"Desativar Função","group":"3bf69756.8965f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Função Desativar","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Função Ativar liberada","offvalueType":"str","officon":"","offcolor":"","x":155,"y":666,"wires":[["605b15dd.f9345c"]]},{"id":"605b15dd.f9345c","type":"websocket out","z":"db1fee32.925b1","name":"","server":"","client":"ce9a4873.cceb78","x":414,"y":623,"wires":[]},{"id":"6116340.57e0bcc","type":"websocket-client","z":"","path":"ws://10.0.98.40:8080/sonic_sensor","wholemsg":"false"},{"id":"ce9a4873.cceb78","type":"websocket-client","z":"","path":"ws://10.0.98.40:8082/shut_down","wholemsg":"true"},{"id":"3bf69756.8965f8","type":"ui_group","z":"","name":"Status da Tomada","tab":"bcb43ea8.c083a","disp":true,"width":"6"},{"id":"bcb43ea8.c083a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
